In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("IMDB Dataset.csv")

In [3]:
df.head()

                                              review sentiment
0  One of the other reviewers has mentioned that ...  positive
1  A wonderful little production. <br /><br />The...  positive
2  I thought this was a wonderful way to spend ti...  positive
3  Basically there's a family where a little boy ...  negative
4  Petter Mattei's "Love in the Time of Money" is...  positive

In [4]:
df.shape

(50000, 2)

In [82]:
df = df.sample(5000)

In [83]:
df.shape

(5000, 2)

LowerCasing

In [87]:
df['review'][1525]

'for only doing a few movies with his life the late great chris farley farley died at the end of 1997 and will be missed mostly by his co actor in tommy boy david spade from the lame police academy 4 spade really has done good with his career in films tommy boy is a classic and we will always remember chris farley when we watch it from appearing on saturday night live to doing tommy boy black sheep beverley hills ninja almost heroes billy madison and dirty work i think chris farley had a short and successful career tommy boy was his best in my case and i would watch over and over again and laugh at the same part each time thank you chris farley'

In [90]:
df['review'][1525].lower()

'for only doing a few movies with his life the late great chris farley farley died at the end of 1997 and will be missed mostly by his co actor in tommy boy david spade from the lame police academy 4 spade really has done good with his career in films tommy boy is a classic and we will always remember chris farley when we watch it from appearing on saturday night live to doing tommy boy black sheep beverley hills ninja almost heroes billy madison and dirty work i think chris farley had a short and successful career tommy boy was his best in my case and i would watch over and over again and laugh at the same part each time thank you chris farley'

In [91]:
df['review'] = df['review'].str.lower()

In [92]:
df

                                                  review sentiment
28066  as someone who was in a panhellenic sorority i...  positive
1525   for only doing a few movies with his life the ...  positive
37977  on the surface this movie would appear to deal...  negative
19303  a year or so ago i was watching the tv news wh...  positive
49999  no one expects the star trek movies to be high...  negative
...                                                  ...       ...
49696  more than twenty years before peter jacksons v...  positive
44307  out of 15 people i loaned this movie too no on...  negative
32908  ughthis is the worst wrestlemania hands downno...  negative
12587  the producers of this film should be sued for ...  negative
46792  im sorry to all the fans but this is a useless...  negative

[5000 rows x 2 columns]

Remove HTML tags

In [93]:
import re
def remove_html_tags(text):
    pattern = re.compile('<.*?>')
    return pattern.sub(r'', text)

In [94]:
text = "<html> <body> <p> Movie <p> </body> </html>"

In [95]:
remove_html_tags(text)

'   Movie   '

In [96]:
df['review'] = df['review'].apply(remove_html_tags)

In [97]:
df['review'][1525]

'for only doing a few movies with his life the late great chris farley farley died at the end of 1997 and will be missed mostly by his co actor in tommy boy david spade from the lame police academy 4 spade really has done good with his career in films tommy boy is a classic and we will always remember chris farley when we watch it from appearing on saturday night live to doing tommy boy black sheep beverley hills ninja almost heroes billy madison and dirty work i think chris farley had a short and successful career tommy boy was his best in my case and i would watch over and over again and laugh at the same part each time thank you chris farley'

Remove URLs

In [98]:
text1 = 'Check out this : https://www.kaggle.com/code/campusx/text-preprocessing/input'
text2 = 'Check out this : http://www.kaggle.com/code/campusx/text-preprocessing/input'
text3 = 'google search www.google.com'
text4 = 'Check out this dataset: http://www.kaggle.com/code/campusx/text-preprocessing/input using www.google.com'

In [99]:
def remove_url(text):
    pattern = re.compile(r'https?://\S+|www\.\S+')
    return pattern.sub(r'', text)

In [100]:
text4

'Check out this dataset: http://www.kaggle.com/code/campusx/text-preprocessing/input using www.google.com'

In [101]:
remove_url(text4)

'Check out this dataset:  using '

Remove punctuations

In [102]:
import string, time
string.punctuation

'!"#$%&\'()*+,-./:;<=>?@[\\]^_`{|}~'

In [103]:
exclude = string.punctuation

In [104]:
def remove_punc(text):
    for char in exclude:
        text = text.replace(char, '')
    return text

In [105]:
text = 'string. With. Punctuation?'

In [106]:
start = time.time()
print(remove_punc(text))
time1 = time.time() - start
print(time1)

string With Punctuation
0.00101470947265625

In [107]:
# optimized code
def remove_punc1(text):
    return text.translate(str.maketrans('', '', exclude))

In [108]:
start = time.time()
print(remove_punc1(text))
time2 = time.time() - start
print(time2)

string With Punctuation
6.246566772460938e-05

In [109]:
df['review'] = df['review'].apply(remove_punc1)

In [110]:
df['review'][1525]

'for only doing a few movies with his life the late great chris farley farley died at the end of 1997 and will be missed mostly by his co actor in tommy boy david spade from the lame police academy 4 spade really has done good with his career in films tommy boy is a classic and we will always remember chris farley when we watch it from appearing on saturday night live to doing tommy boy black sheep beverley hills ninja almost heroes billy madison and dirty work i think chris farley had a short and successful career tommy boy was his best in my case and i would watch over and over again and laugh at the same part each time thank you chris farley'

Chat word treatment

In [111]:
chat_words = {
'AFAIK': 'As Far As I Know',
'AFK': 'Away From Keyboard',
'ASAP': 'As Soon As Possible',
'ATK': 'At The Keyboard',
'ATM': 'At The Moment',
'A3': 'Anytime',
'BAK': 'Back At Keyboard',
'BBL': 'Be Back Later',
'BBS': 'Be Back Soon',
'BFN': 'Bye For Now',
'B4N': 'Bye For No'
}

In [112]:
chat_words

{'AFAIK': 'As Far As I Know',
 'AFK': 'Away From Keyboard',
 'ASAP': 'As Soon As Possible',
 'ATK': 'At The Keyboard',
 'ATM': 'At The Moment',
 'A3': 'Anytime',
 'BAK': 'Back At Keyboard',
 'BBL': 'Be Back Later',
 'BBS': 'Be Back Soon',
 'BFN': 'Bye For Now',
 'B4N': 'Bye For No'}

In [113]:
def chat_conversation(text):
    new_text = []
    for w in text.split():
        if w.upper() in chat_words:
            new_text.append(chat_words[w.upper()])
        else:
            new_text.append(w)
    return " ".join(new_text)

In [114]:
chat_conversation('BFN see ya')

'Bye For Now see ya'

Spelling correction

In [115]:
from textblob import TextBlob

In [116]:
incorrect_text = 'ceertain conditionas duriing seveal ggenerations'

textBlb = TextBlob(incorrect_text)

textBlb.correct().string

'certain conditions during several generations'

Removing stop words

In [117]:
import nltk
from nltk.corpus import stopwords

In [118]:
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\harsh\AppData\Roaming\nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [119]:
stopwords.words('english')

['i',
 'me',
 'my',
 'myself',
 'we',
 'our',
 'ours',
 'ourselves',
 'you',
 "you're",
 "you've",
 "you'll",
 "you'd",
 'your',
 'yours',
 'yourself',
 'yourselves',
 'he',
 'him',
 'his',
 'himself',
 'she',
 "she's",
 'her',
 'hers',
 'herself',
 'it',
 "it's",
 'its',
 'itself',
 'they',
 'them',
 'their',
 'theirs',
 'themselves',
 'what',
 'which',
 'who',
 'whom',
 'this',
 'that',
 "that'll",
 'these',
 'those',
 'am',
 'is',
 'are',
 'was',
 'were',
 'be',
 'been',
 'being',
 'have',
 'has',
 'had',
 'having',
 'do',
 'does',
 'did',
 'doing',
 'a',
 'an',
 'the',
 'and',
 'but',
 'if',
 'or',
 'because',
 'as',
 'until',
 'while',
 'of',
 'at',
 'by',
 'for',
 'with',
 'about',
 'against',
 'between',
 'into',
 'through',
 'during',
 'before',
 'after',
 'above',
 'below',
 'to',
 'from',
 'up',
 'down',
 'in',
 'out',
 'on',
 'off',
 'over',
 'under',
 'again',
 'further',
 'then',
 'once',
 'here',
 'there',
 'when',
 'where',
 'why',
 'how',
 'all',
 'any',
 'both',
 'each',
 'few',
 'more',
 'most',
 'other',
 'some',
 'such',
 'no',
 'nor',
 'not',
 'only',
 'own',
 'same',
 'so',
 'than',
 'too',
 'very',
 's',
 't',
 'can',
 'will',
 'just',
 'don',
 "don't",
 'should',
 "should've",
 'now',
 'd',
 'll',
 'm',
 'o',
 're',
 've',
 'y',
 'ain',
 'aren',
 "aren't",
 'couldn',
 "couldn't",
 'didn',
 "didn't",
 'doesn',
 "doesn't",
 'hadn',
 "hadn't",
 'hasn',
 "hasn't",
 'haven',
 "haven't",
 'isn',
 "isn't",
 'ma',
 'mightn',
 "mightn't",
 'mustn',
 "mustn't",
 'needn',
 "needn't",
 'shan',
 "shan't",
 'shouldn',
 "shouldn't",
 'wasn',
 "wasn't",
 'weren',
 "weren't",
 'won',
 "won't",
 'wouldn',
 "wouldn't"]

In [120]:
def remove_stopwords(text):
    new_text = []
    
    for word in text.split():
        if word in stopwords.words('english'):
            new_text.append('')
        else:
            new_text.append(word)
    x = new_text[:]
    new_text.clear()
    return " ".join(x)

In [121]:
remove_stopwords('This is awesome and self actualization storytell.As humans,we make assumptions and exhibit pseudo characters due to opportunities at our doorstep,forgetting others who have not been able to reach such milestones,iether due to various factors ranging from Economics,family background and environmental factors.')

'This  awesome  self actualization storytell.As humans,we make assumptions  exhibit pseudo characters due  opportunities   doorstep,forgetting others     able  reach  milestones,iether due  various factors ranging  Economics,family background  environmental factors.'

In [122]:
df.head()

                                                  review sentiment
28066  as someone who was in a panhellenic sorority i...  positive
1525   for only doing a few movies with his life the ...  positive
37977  on the surface this movie would appear to deal...  negative
19303  a year or so ago i was watching the tv news wh...  positive
49999  no one expects the star trek movies to be high...  negative

In [123]:
df['review'] = df['review'].apply(remove_stopwords)

Remove Emoji

In [124]:
import re

def remove_emoji(text):
    emoji_pattern = re.compile("["
                               u"\U0001F600-\U0001F64F"  # emoticons
                               u"\U0001F300-\U0001F5FF"  # symbols & pictographs
                               u"\U0001F680-\U0001F6FF"  # transport & map symbols
                               u"\U0001F1E0-\U0001F1FF"  # flags (iOS)
                               u"\U00002702-\U000027B0"
                               u"\U000024C2-\U0001F251"
                               "]+", flags=re.UNICODE)
    return emoji_pattern.sub(r'', text)

In [125]:
remove_emoji("Love the movie. It was ðŸ˜˜ðŸ˜˜")

'Love the movie. It was '

In [126]:
remove_emoji("Lmao ðŸ˜‚ðŸ˜‚")

'Lmao '

In [127]:
import emoji
print(emoji.demojize('Python is ðŸ”¥'))

Python is :fire:

In [128]:
print(emoji.demojize('Python is ðŸ˜˜'))

Python is :face_blowing_a_kiss:

Tokenization

1. Using the split function

In [129]:
# word tokenization
sent1 = 'I am going to delhi'
sent1.split()

['I', 'am', 'going', 'to', 'delhi']

In [79]:
# sentence tokenization
sent2 = 'I am going to delhi. I will stay there for 3 days. Let\'s hope the trip to be  great'
sent2.split('.')

['I am going to delhi',
 ' I will stay there for 3 days',
 " Let's hope the trip to be  great"]

In [130]:
# Problem with split function
sent3 = 'I am going to delhi!'
sent3.split()

['I', 'am', 'going', 'to', 'delhi!']

In [131]:
sent4 = 'Where do you think I should go? I have 3 day holiday'
sent4.split('.')

['Where do you think I should go? I have 3 day holiday']

2. Regular Expression

In [133]:
import re
sent3 = 'I am going to delhi!'
tokens = re.findall("[\\w]+", sent3)
tokens

['I', 'am', 'going', 'to', 'delhi']

3. NLTK

In [134]:
from nltk.tokenize import word_tokenize, sent_tokenize

In [136]:
import nltk
nltk.download('punkt')

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\harsh\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

True

In [137]:
sent1 = 'I am going to visit delhi!'
word_tokenize(sent1)

['I', 'am', 'going', 'to', 'visit', 'delhi', '!']

In [138]:
text = """What? Paulie thought. Most sentences end in a period?  I canâ€™t leave now, the kids need me. They need me after almost every sentence. I am important. But wait. What is that thing after those other sentences?  What is that thing after this sentence?"""
sent_tokenize(text)

['What?',
 'Paulie thought.',
 'Most sentences end in a period?',
 'I canâ€™t leave now, the kids need me.',
 'They need me after almost every sentence.',
 'I am important.',
 'But wait.',
 'What is that thing after those other sentences?',
 'What is that thing after this sentence?']

In [139]:
sent5 = 'I have a Ph.D in A.I'
sent6 = "We're here to help! mail us at nk@gmail.com"
sent7 = 'A 5km ride cost $10.50'

In [140]:
word_tokenize(sent5)

['I', 'have', 'a', 'Ph.D', 'in', 'A.I']

In [141]:
word_tokenize(sent6)

['We',
 "'re",
 'here',
 'to',
 'help',
 '!',
 'mail',
 'us',
 'at',
 'nk',
 '@',
 'gmail.com']

In [142]:
word_tokenize(sent7)

['A', '5km', 'ride', 'cost', '$', '10.50']

4. Spacy

In [145]:
import spacy

nlp = spacy.load('en_core_web_sm')

In [146]:
doc1 = nlp(sent5)
doc2 = nlp(sent6)
doc3 = nlp(sent7)
doc4 = nlp(sent1)

In [149]:
for token in doc2:
    print(token)

We
're
here
to
help
!
mail
us
at
nk@gmail.com

Stemming

In [150]:
from nltk.stem.porter import PorterStemmer

In [151]:
ps = PorterStemmer()
def stem_words(text):
    return " ".join([ps.stem(word) for word in text.split()])

In [152]:
sample = "walk walks walking walked"
stem_words(sample)

'walk walk walk walk'

Lemmetization

In [155]:
import nltk
nltk.download('wordnet')
from nltk.stem import WordNetLemmatizer
wordnet_lemmatization = WordNetLemmatizer()

sentence = "He was running and eating at same time. He has bad habit of swimming"
puncuations = "?:!.,;"
sentence_words = nltk.word_tokenize(sentence)
for word in sentence_words:
    if word in puncuations:
        sentence_words.remove(word)
        
sentence_words
print("{0:20}{1:20}".format("Word","Lemma"))
for word in sentence_words:
    print("{0:20}{1:20}".format(word, wordnet_lemmatization.lemmatize(word, pos='v')))

Word                Lemma
He                  He
was                 be
running             run
and                 and
eating              eat
at                  at
same                same
time                time
He                  He
has                 have
bad                 bad
habit               habit
of                  of
swimming            swim

[nltk_data] Downloading package wordnet to
[nltk_data]     C:\Users\harsh\AppData\Roaming\nltk_data...
[nltk_data]   Package wordnet is already up-to-date!